<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Google IPv6 Country Rank</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/flatly/bootstrap.min.css" integrity="sha384-XYCjB+hFAjSbgf9yKUgbysEjaVLOXhCgATTEBpCqT1R3jvG5LGRAK5ZIyRbH5vpX" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css" />
</head>

<body>

  <div class="container">
    <h1>Google IPv6 Country Rank</h1>
    
    <p>
    Per-country ranking table based on data from <a href="https://www.google.com/intl/en/ipv6/statistics.html">Google IPv6 Statistics</a> page.
    </p>
    
    <table class="table table-striped table-bordered">
      <tr>
        <th>#</th>
        <th>Country</th>
        <th>Adoption</th>
        <th>Latency</th>
        <th>Impact</th>
      </tr>
      <% data.each_with_index do |row, index| %>
        <tr>
          <td><%= index+1 %></td>
          <td><%== flag_img(row[:code]) %> <%= row[:name] %></td>
          <td><%= row[:adoption] %>%</td>
          <td><%= row[:latency] %>ms</td>
          <td><%= row[:impact] %>%</td>
        </tr>
      <% end %>
    </table>
  </div>

  <footer class="footer">
    <div class="container">
      <p>
        Created by <a href="http://twitter.com/njh">@njh</a>
      </p>
      <p>
        This website is Open Source, please help improve it by submitting a change on GitHub: <br />
        <a href="https://github.com/njh/google-ipv6">https://github.com/njh/google-ipv6</a>
      </p>
      <p>
        Flag icons by <a href="http://www.famfamfam.com/lab/icons/flags/">famfamfam.com</a>.
      </p>
      <p>
        The content on this site was last updated: <%= Time.now %>
      </p>
    </div>
  </footer>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>

</html>